body{
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  }

.navbar-header {
    height:90px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
  height:90px;
  padding-top: 25px;
  padding-right: 5px;
  font-size: 15px;

}

.brand-png {
    height:70px;
    padding-top:1px;
    padding-bottom: 7px;
}

.brand-png-login {
    height:90px;
}

.gplus-logo{
  height:20px;
}

.start-glyphicon {
    font-size: 20px;
    /*padding-top: 5px;*/
}

.start-button {
  width: 150px;
}

.login-button {
  width: 300px;
}

.banner {
  background-color: 00CCFF;
  height: 370px;
}

h1, h2, h3{
    margin: 0%;
}

h1 {
  font-size: 50px;
}
