<div ng-cloak>
  <!-- <div linear-chart chart-data="salesData"></div> -->

  <!-- Toolbar-->
  <nav class="navbar navbar-default navbar-static-top">
    <!--Brand-->
    <div class="navbar-header">
      <a class="navbar-brand">
        <img class="brand-png" src="styles/hash.png">
      </a>
    </div>
    <div ng-controller="LoginController as lc">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Overview</a></li>
        <li><a>Contact us</a></li>
        <!-- <li style="padding-right:10px;">
          <a href="#">
            <img src="styles/sign-in-with-twitter-gray.png">
          </a>
        </li> -->
        <li>
          <a>Signed in as <b>{{lc.activeUser}}</b></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <div class="banner">
    <!-- style="background-image: url(/styles/background-banner-cropped.jpg);width:100%"> -->
    <h1 style="text-align:center;padding-top:50px">Hashtag Battle</h1>
    <h3 style="text-align:center;padding-top:30px;padding-bottom:30px">New Battle?</h3>
    <button class="btn btn-default btn-lg center-block start-button" ng-click="mc.startBattle()">
      <!-- ng-click="startBattle=!startBattle"> -->
      <h3>
        <span class="glyphicon glyphicon-chevron-left start-glyphicon"></span>
        Start
        <span class="glyphicon glyphicon-chevron-right start-glyphicon"></span>
      </h3>
    </button>
    <!-- <button class="btn btn-default btn-lg center-block start-button" ng-click="mc.login()"> -->
    <!-- </button> ng-click="startBattle=!startBattle" ng-hide="startBattle"> -->
    <!-- <h3>
        Go
      </h3>
    </button> -->
    <div class="row" style="padding-top:20px;margin:0%;">
      <!--ng-show="startBattle" -->
      <div class="col-md-4 col-md-offset-2">
        <div class="input-group input-group-lg">
          <!-- <span class="input-group-addon" id="sizing-addon1">#</span> -->
          <input type="text" class="form-control" placeholder="#hashtag1" ng-model="hashtag1" required>
          <!-- <span ng-show="hashtag1.$error.pattern">Please enter!</span> -->
        </div>
      </div>
      <!-- <div class="col-lg-1">
          <h3 style="text-align:center; ">vs</h3>
        </div> -->
      <div class="col-md-3 col-md-offset-1">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="#hashtag2" ng-model="hashtag2" required>
        </div>
      </div>
    </div>
  </div>
  <!--Banner Div-->
</div>


<!-- <div class="row">

  <div class="col-md-6">
    <div class="row">
    <div style="background:#F8F8FF;height:250px;" class="col-md-6">
      <blockquote class="twitter-tweet" data-cards="hidden" width="450">
        <p lang="en" dir="ltr">RT shenbrood <a href="https://twitter.com/hashtag/Facebook?src=hash">#Facebook</a> throwback? Am I the only one? <a href="https://twitter.com/hashtag/socialmedia?src=hash">#socialmedia</a> <a href="https://twitter.com/hashtag/digitalmarketing?src=hash">#digitalmarketing</a>          <a href="https://twitter.com/hashtag/HootAmb?src=hash">#HootAmb</a> <a href="https://t.co/cE46sehI2E">pic.twitter.com/cE46sehI2E</a></p>&mdash; John White (@irishIMguy) <a href="https://twitter.com/irishIMguy/status/669666868848889856">November 25, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>"
    </div>
    <div style="background:#F8F8FF;height:250px;" class="col-md-6">
      <blockquote class="twitter-tweet" data-cards="hidden" width="450">
        <p lang="en" dir="ltr">RT shenbrood <a href="https://twitter.com/hashtag/Facebook?src=hash">#Facebook</a> throwback? Am I the only one? <a href="https://twitter.com/hashtag/socialmedia?src=hash">#socialmedia</a> <a href="https://twitter.com/hashtag/digitalmarketing?src=hash">#digitalmarketing</a>          <a href="https://twitter.com/hashtag/HootAmb?src=hash">#HootAmb</a> <a href="https://t.co/cE46sehI2E">pic.twitter.com/cE46sehI2E</a></p>&mdash; John White (@irishIMguy) <a href="https://twitter.com/irishIMguy/status/669666868848889856">November 25, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>"
    </div>
    </div>
  </div>

  <div class="col-md-6" style="background:lavender;">
    <div class="row" style="padding:0px">
    <div style="background:##F5F5F5;height:250px;" class="col-md-6">
      <blockquote class="twitter-tweet" data-cards="hidden" width="450">
        <p lang="en" dir="ltr">RT shenbrood <a href="https://twitter.com/hashtag/Facebook?src=hash">#Facebook</a> throwback? Am I the only one? <a href="https://twitter.com/hashtag/socialmedia?src=hash">#socialmedia</a> <a href="https://twitter.com/hashtag/digitalmarketing?src=hash">#digitalmarketing</a>          <a href="https://twitter.com/hashtag/HootAmb?src=hash">#HootAmb</a> <a href="https://t.co/cE46sehI2E">pic.twitter.com/cE46sehI2E</a></p>&mdash; John White (@irishIMguy) <a href="https://twitter.com/irishIMguy/status/669666868848889856">November 25, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>"
    </div>
    <div style="background:##F5F5F5;height:250px;" class="col-md-6">
      <blockquote class="twitter-tweet" data-cards="hidden" width="450">
        <p lang="en" dir="ltr">RT shenbrood <a href="https://twitter.com/hashtag/Facebook?src=hash">#Facebook</a> throwback? Am I the only one? <a href="https://twitter.com/hashtag/socialmedia?src=hash">#socialmedia</a> <a href="https://twitter.com/hashtag/digitalmarketing?src=hash">#digitalmarketing</a>          <a href="https://twitter.com/hashtag/HootAmb?src=hash">#HootAmb</a> <a href="https://t.co/cE46sehI2E">pic.twitter.com/cE46sehI2E</a></p>&mdash; John White (@irishIMguy) <a href="https://twitter.com/irishIMguy/status/669666868848889856">November 25, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>"
    </div>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-md-6">
    <div class="row" style="text-align:center">
      <div class="col-md-6" style="height:250px;background:#FFFFFF" ng-repeat="tweet1 in mc.tweet1.oembed track by $index">
        <div ng-bind-html="tweet1 | SanitizeFilter"></div>
      </div>
    </div>
    <div>

    </div ng-show="mc.hasNextPageH1 && mc.finished">
      <button class="btn btn-primary" ng-click="mc.startBattle()">Next Page</button>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row" style="text-align:center">
      <div class="col-md-6" style="height:250px;background:#F5F5F5" ng-repeat="tweet2 in mc.tweet2.oembed track by $index">
        <div ng-bind-html="tweet2 | SanitizeFilter"></div>
      </div>
    </div>
    <!-- <div ng-show="mc.hasNextPageH2">
      <button class="btn btn-primary" ng-click="mc.startBattle()">Next Page</button>
    </div> -->
  </div>

</div>

<div>
  <center>
    <h3 ng-show="!mc.finished" style="padding-top:30px">. . . LOADING . . .</h3>
  </center>
</div>
