<!-- <div style="background-color:00CCFF;height:100%" ng-cloak> -->
<div style="background-image: url(/styles/background-login.jpg);height:100%" ng-cloak>
  <div>
    <p style="padding-top:120px;">
      <img class="brand-png-login center-block" src="styles/hash.png">
    </p>
    <h2 style="text-align:center;padding-top:20px;padding-bottom:30px">Hashtag Battle</h2>
    <p style="padding-top:20px">
      <span class="btn btn-danger center-block login-button" ng-click="lc.googleSignIn()">
        Login with Google
        <img class="gplus-logo center-block" src="styles/googleplus-logo.png">
      </span>
    </p>
  </div>

</div>
